body.wp-admin {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:where(.editor-styles-wrapper) {
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}
}

:root .wp-site-blocks > * {
	margin-block-start: 1.4rem;
}

.block-editor-block-list__block {
	margin-block-end: 1.4rem;
}

.wp-admin .services__slider > .swiper-container > .swiper-wrapper,
.wp-admin .how-works__slider > .swiper-container > .swiper-wrapper {
	gap: 18px;
}
.wp-admin .tariff-plans__slider > .swiper-container > .swiper-wrapper {
	gap: 20px;
}
.wp-admin .accordion > .wrapper > .item > .button {
	min-height: unset;
}

.wp-admin .cf-block__tabs > .cf-block__tabs-list > .cf-block__tabs-item {
	padding: 16px;
	text-transform: uppercase;
}

.rich-text [data-rich-text-placeholder]:after {
	-webkit-text-fill-color: #6a6a6a;
	opacity: .4;
}
.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
	margin: 0 auto 20px;
	width: var(--w-content);
}

.is-root-container > .rich-text,
.is-root-container > .block-list-appender {
	margin: 0 auto;
	width: var(--w-content);
}

.spacer--edit-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f9f9f9;
}
.spacer--edit-block p {
	color: #cdcdcd;
}
.spacer--edit-block span {
	color: #e3e3e3;
}

.is-root-container {
	.top-panel__wrapper {
		width: 100%;
		max-width: 100%;
		padding: 6px 20px;
		min-height: var(--h-navbar);
		background-color: var(--light-grey);
	}
}

.header__item .wp-block-search[data-type="core/search"] {
	display: none;
}

.wp-block-post-featured-image .components-placeholder {
    border-radius: 16px;
}